<h1><%= @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>

    <% if @post.image? %>
      <br/><br/><%= image_tag(@post.image.url) %><br/>
    <% end %>

    <p><%= markdown @post.body %></p>
  </div>

  <div class="col-md-4">
    <% if policy(@post).update? %>
      <p><%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-info' %></p>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Comments</h2>
    <% if policy(@comments).create? %>
      <p><%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comments: @comments } %></p>
    <% end %>
    <%= render partial: 'comments/comment', collection: @comments %>
  </div>
</div>

