<!DOCTYPE html>
<html>
<head>
  <title>Tiffit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Tiffit", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Topics", topics_path %></li>
          <li><%= link_to "Popular Posts", posts_path %></li>
          <li><%= link_to "Top Users", users_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <% if @home %>
    <div class="home-bar">
  <% else %>
    <div class="info-bar">
  <% end %>
  <div class="container">
    <div class="pull-right user-info">
      <% if current_user %>
        <% @username = current_user.name %>
        <% @username = current_user.email if @username == "" %>
        <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
        Hello <%= link_to @username, current_user %>!
        <%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-user"></span>
        <% end %> 
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out"></span>
        <% end %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> or
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>

    </div>
    </div>

    <div id="flash-container">
      <% if flash[:notice] %>
        <div class="alert alert-notice">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] unless notice.blank? %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] unless alert.blank? %>
        </div>
      <% end %>
    </div>
    </div>
    <% unless @home %>
    <div class="container">
      <% end %>
      <%= yield %>
    </div>
      </div>
  </div>
</body>
</html>
